*, :before, :after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    box-sizing: inherit;
    
    transition-duration: .3s;
    transition-property: none;
}

body {
    box-sizing: border-box;
    
    font-family: "Klima", sans-serif;
    font-size: 20px;
    
    background-color: #222;
    color: #ddd;
}

[hidden] {
    display: none;
}

h1 {
    font-size: 3em;
    color: rgba(255, 255, 255, .5);
}

input {
    max-width: 100%;
    border: none;
}

.editor_day, .editor_period {
    width: 150px;
    display: inline-block;
}

.editor_day td:first-child {
    font-weight: 700;
}

.editor_period {
    width: 100%;
    padding: 10px 0;
    
    border-top: solid 2px rgba(255, 255, 255, .5);
}

.editor_period input {
    display: block;
    margin: 2px;
    padding: 0 5px;
    color: inherit;
    background-color: transparent;
}

.editor_period input:hover, .editor_period input:focus {
    background-image: linear-gradient(transparent calc(100% - 10px), rgba(255, 255, 255, .5));
}

.editor_week {
    margin: 30px 0;
}

.editor_day_name {
    cursor: pointer;
}

.editor_day.disabled .editor_period {
    color: transparent;
    pointer-events: none;
}

.editor_day.disabled .editor_day_name {
    text-decoration: line-through;
}